<!-- this {{ }} indicates to Angular we use string interpolation -->
<!-- this [] indicates to Angular we use property binding -->
<!-- this () indicates to Angular we use event binding -->
    <!-- sintaxe: (nativeEventOfHtmlOrJavascriptName) = "the code we want to execute when this event ocurrs" -->

<!-- one way binding, send data to typescript -->
<!-- <label for="Server Name"></label>
<input type="text" class="form-control"
(input)="onUpdateServerName($event)"> -->

<!--two ways binding with ngModel, get data from typescript and send data to typescript -->
<label for="Server Name"></label>
<input type="text" class="form-control"
[(ngModel)]="serverName">

<button class="btn btn-primary" [disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<p>{{ serverCreationStatus }}</p>

<app-server></app-server>
<app-server></app-server>
<!-- does not mix string interpolation and property binding on the same line/sintaxe, cause it may breaks Angular sintaxe-->
<!-- 
    . string interpolation - to output something like a text in the template (html file) (it returns a string to template).
    . property binding - to change some html or dom property or a directive, a component property in the template (it returns a javascript expression to template).
-->