<!-- this {{ }} indicates to Angular we use string interpolation -->
<!-- this [] indicates to Angular we use property binding -->
<!-- this () indicates to Angular we use event binding -->
    <!-- sintaxe: (nativeEventOfHtmlOrJavascriptName) = "the code we want to execute when this event ocurrs" -->

<button class="btn btn-primary" [disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- <p [innerText] = "allowNewServer"></p> -->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
<!-- does not mix string interpolation and property binding in the same template (html), it breaks Angular sintaxe. -->
<!-- 
    . string interpolation - to output something like a text in the template (html file).
    . property binding - to change some html or dom property or a directive, a component property in the template.
-->