<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I am in the AppComponent!</h3>
            <hr>

            <!-- when the selector in the app.component.ts is formated like this Angular select it like an element (similar to css), selector: 'app-servers'-->
                <app-servers></app-servers>

            <!-- when the selector in the app.component.ts is formated like this Angular select it like an attribute, selector: '[app-servers]' -->
                <div app-servers></div>
            
            <!-- when the selector in the app.component.ts is formated like this Angular select it like a class, selector: '.app-servers' -->
                <!-- <div class="app-servers"></div> -->

        </div>
    </div>
</div>